.mdl-tabs__tab-bar {
  background-color: #86C25C;
  text-align: center;
}

.mdl-list__item-secondary-content {
  width: 60px;
}
.tab_bar {
  color: #fff;
  width: 100%;
}

.mdl-list {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}

.button_rewards {
  height: 50px;
}

hr {
  margin: 0px;
}

#restaurant{
  color:white;
}

#powerup{
  color:white;
}

#powerup:active {
  color: yellow;
}

#restaurant:active {
  color: yellow;
}

.reward {
  border-bottom: 0.2px;
  border-color:  rgba(0, 0, 0, 0.25);
  border-bottom-style: solid;
}
