<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#restaurantes-panel" id="restaurant" class="mdl-tabs__tab is-active tab_bar">Restaurantes</a>
    <a href="#powerup-panel" id= "powerup" class="mdl-tabs__tab tab_bar">Power-Up</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="restaurantes-panel">
    <ul class="demo-list-three mdl-list">
      <span *ngFor="let item of (items |async); let i = index">
        <li class="mdl-list__item mdl-list__item--three-line" >
          <span class="mdl-list__item-primary-content">
            <!--<i class="material-icons mdl-list__item-avatar">person</i>-->
            <img src="{{item.logo}}" class="mdl-list__item-avatar" width="60px"/>
            <span>{{ item.name }}</span>
            <span class="mdl-list__item-text-body">
              {{item.brief}}
            </span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <input type="image" (click) = "showModal(i);" class="button_rewards" src="../assets/images/KintosCoin_Icon.svg">
          </span>
        </li>
        <hr>
       </span>

    </ul>
  </div>
  <div class="mdl-tabs__panel" id="powerup-panel">
    <ul>
      <li *ngFor="let item of items | async">
        {{ item.name }}
      </li>
    </ul>
  </div>
</div>
