<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#restaurantes-panel" id="restaurant" class="mdl-tabs__tab is-active tab_bar">Restaurantes</a>
    <a href="#powerup-panel" id= "powerup" class="mdl-tabs__tab tab_bar">Power-Up</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="restaurantes-panel">
    <ul class="demo-list-three mdl-list">
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>CAFÉ DE CORDOBA</span>
          <span class="mdl-list__item-text-body">
            Un café americano gratis <br>
            lun - sab
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <input type="image" (click) = "showModal();" class="button_rewards" src="../assets/images/KintosCoin_Icon.svg">
        </span>
      </li>
      <hr>
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons  mdl-list__item-avatar">person</i>
          <span>STARBUCKS COFFEE</span>
          <span class="mdl-list__item-text-body">
            $20.00 MXN en tu siguiente café
            lun-sab
          </span>
        </span>

        <span class="mdl-list__item-secondary-content">
          <input type="image" (click) = "showModal();" class="button_rewards" src="../assets/images/KintosCoin_Icon.svg">
        </span>

      </li>
      <hr>
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons  mdl-list__item-avatar">person</i>
          <span>STARBUCKS COFFEE</span>
          <span class="mdl-list__item-text-body">
            $10.00 MXN en tu siguiente café
            lun-sab
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <input type="image" (click) = "showModal();" class="button_rewards" src="../assets/images/KintosCoin_Icon.svg">
        </span>
      </li>
      <hr>
    </ul>
  </div>
  <div class="mdl-tabs__panel" id="powerup-panel">
    <ul>
      <li>Eddard- dead</li>
      <li>Catelyn</li>
      <li>Robb</li>
      <li>Sansa</li>
      <li>Brandon</li>
      <li>Arya</li>
      <li>Rickon</li>
    </ul>
  </div>
</div>
