#submitLoan {
  background-color:#8CC9F0;
  border-radius: 7px;
  height: 45px;
  width: 70%;
  font-size: 18px;
  color: white;
}

#title{
  font-family: overpass;
  font-size: 1.5em;
}

#date{
  font-family: overpass;
}

.infoText{
  text-align: center;
  font-size: 20px;
}

.infoAmount{
  margin: 0;
  border-collapse: collapse;
  padding-bottom: 0;
  text-align: center;
  font-size: 20px;
}

.infoInput{
  margin: 0;
  border-collapse: collapse;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

.sliderContainer {
  display:inline-block;
}

.inputText {
  width: 70%;
  height: 90%;
  padding-top: 4px;
  background-color: #fff;
  border-color: #fff;
}

.demo-card-wide.mdl-card {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.circleIcon {
  color: #86C25C;
}

.material-icons {
  font-size: 40px;
}

/* sliders design adjustment*/

#left{
    display:inline-block;
    padding:5px;
    border-style: solid;
    border-color:#FFF;
    border-width: 2px;
    margin-right:10px;
    border-bottom-color:  #FF9800;
}

#right{
    display: inline-block;
    padding:5px;
    margin-left:10px;
    border-style: solid;
    border-color:#FFF;
    border-width: 2px;
    border-bottom-color: #615095 ;
}

/* SLIDER */

.slider-box{
  width:100%;
  margin:0 auto;
  display:inline-block;
  text-align:center;
  /*clear:both;*/
}

.noUi-target {
  box-shadow: 0px;
}

#sliderMoney {
  width: 100%;
}

#sliderTime {
  width: 100%;
}

/* DIVS SETTINGS */

#wrapper {
  clear:both;
  justify-content: center; 
  display:center; 
  margin:15px;
}
.first {
  float:left;
  width: 10%;
}
.second {
  width:100%;
  float:left;
  padding: 0px;
  margin: 0px;
}
.third {
  float:left;
  width: 10%;
}
.phone-spacer{
  display: none;
}

@media (max-width: 340px){
  #left{
      margin-right:0px;
  }

  #right{
      margin-left:0px;
  }

  .phone-spacer{
    height: 16px;
    display: block;
  }
}
