#boton_recompensa{
    position:absolute;
    bottom:30px;
    right:30px;
    z-index: 3;
}

#submitLoan {
  background-color: blue;
}

.infoText{
  text-align: center;
}

.infoAmount{
  margin: 0;
  border-collapse: collapse;
  padding-bottom: 0;
  text-align: center;
}

.infoInput{
  margin: 0;
  border-collapse: collapse;
  padding-top: 0;
  text-align: center;
}

.sliderContainer {
}

.inputText {
  width: 65%;
}
