<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">        
            <span class="mdl-layout-title" style="color:#fff; font-family:'overpass'">
            Kintos
            </span>        
            <div class="mdl-layout-spacer">
            <img src="../assets/images/KintosCoin_Icon.svg" alt="Tu nivel" width="50px" align="right">
            </div>        
            <nav class="mdl-navigation mdl-layout--large-screen-only" style="color:#fff; font-family:'overpass'">
            <div *ngIf="isLoggedIn">
                <a class="mdl-navigation__link" href="/"><i class="material-icons">home</i> Inicio</a>
                <a class="mdl-navigation__link" href="/rewards" routerLinkActive="active"><i class="material-icons">loyalty</i> Recompensas</a>
                <a class="mdl-navigation__link" href="payment" routerLinkActive="active"><i class="material-icons">payment</i> Pagos</a>
                <a class="mdl-navigation__link" href="/movements" routerLinkActive="active"><i class="material-icons">compare_arrows</i> Movimientos</a>
                <a class="mdl-navigation__link" href="/settings" routerLinkActive="active"><i class="material-icons">build</i> Configuraciones</a>
                <a class="mdl-navigation__link" href="/help" routerLinkActive="active"><i class="material-icons">help_outline</i> Ayuda</a>
                <a class="mdl-navigation__link" (click)="logout()"><i class="material-icons">arrow_forward</i> Salir</a>
            </div>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Kintos</span>
        <nav class="mdl-navigation">
            <span *ngIf="isLoggedIn">
            <a class="mdl-navigation__link" href="/"><i class="material-icons">home</i> Inicio</a>
            <a class="mdl-navigation__link" href="/rewards" routerLinkActive="active"><i class="material-icons">loyalty</i> Recompensas</a>
            <a class="mdl-navigation__link" href="/payment" routerLinkActive="active"><i class="material-icons">payment</i> Pagos</a>
            <a class="mdl-navigation__link" href="/movements" routerLinkActive="active"><i class="material-icons">compare_arrows</i> Movimientos</a>
            <a class="mdl-navigation__link" href="/settings" routerLinkActive="active"><i class="material-icons">build</i> Configuraciones</a>
            <a class="mdl-navigation__link" href="/help" routerLinkActive="active"><i class="material-icons">help_outline</i> Ayuda</a>
            <a class="mdl-navigation__link" (click)="logout()"><i class="material-icons">arrow_forward</i> Salir</a>
            </span>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <router-outlet></router-outlet>
         </div>
    </main>
  </div>