.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	flex: none;
}

#buttonSubmit {
  background-color:#8CC9F0;
  border-radius: 7px;
  height: 45px;
  width: 70%;
  font-size: 18px;
  color: white;
}
