<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
<!--
<div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Login to Your Account</h1><br>

    <form class="form-signin" (submit)="loginWithEmail($event, email.value, password.value)">
      <label for="email" class="sr-only">Email address</label>
      <input #email type="email" id="email" class="form-control" placeholder="Email address">
      <label for="password" class="sr-only">Password</label>
      <input #password type="password" id="password" class="form-control" placeholder="Password" required="">
      <br>
      <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <hr>

    <button class="login loginmodal-submit" (click)="loginWithGoogle()">Login With Google</button>
    <hr>
    <a [routerLink]="['/register']" style="cursor: pointer;">Register Now</a>
  </div>
</div>-->

<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
	<main class="mdl-layout__content">
		<div class="mdl-card mdl-shadow--6dp">
			<div class="mdl-card__title mdl-color--accent mdl-color-text--white">
				<h2 class="mdl-card__title-text">Inicia sesión</h2>
			</div>
			<form action="#" (submit)="loginWithEmail($event, email.value, password.value)">
	  	<div class="mdl-card__supporting-text">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input #email class="mdl-textfield__input" type="email" id="email" />
						<label class="mdl-textfield__label" type="text" for="email">Correo electrónico @itesm.mx</label>
						<!--<label class="mdl-textfield__label" for="username">Correo electronico @itesm.mx</label>-->
					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input #password class="mdl-textfield__input" type="password" id="password" />
						<label class="mdl-textfield__label" type="text" for="email">Contraseña</label>
						<!--<label class="mdl-textfield__label" for="userpass">Contrasena</label>-->
					</div>
			</div>
			<div class="mdl-card__actions mdl-card--border" align="center">
				<button id="buttonSubmit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">Entrar</button>
				<hr>
				<b>No tienes cuenta?  <a [routerLink]="['/register']" style="cursor: pointer;">Registrate</a></b>
			</div>
			</form>
		</div>
	</main>
</div>