<div class="flex-box strong" id="detail-panel">
  <div class="flex-70--no-margin">
  Detalles
  </div>
  <div class="flex-30--no-margin" style="text-align:center;">
    Obtenidos
  </div>
</div>
<div class="flex-box" id="powerup-panel" *ngFor="let loan of loans | async">
    <div class="flex-40--no-margin">
      <p> Pagado: <br>
        <strong> {{ loan.expDate }} </strong> <br>
        Pedido: <br>
        {{ loan.askedDate }}
      </p>

    </div>
    <div class="flex-30--no-margin">
      <p>
      <br>
      <strong>{{ loan.toPay }} </strong> <br>
      <br>
      {{ loan.loan }}
      </p>
    </div>
    <div class="flex-30--no-margin" >
      <p class = "text-center">
      <br>
      <strong style="margin-right:4px; margin-left:20px;">10</strong> <img class="button_transaction" src="../assets/images/KintosCoin.png">
      </p>
    </div>
</div>
